<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex Query Tool</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/misc.css' %}">
</head>
<body class="h-screen bg-gray-100 flex justify-center items-center">
    <main class="w-screen md:w-10/12 lg:w-8/12">
        <form action="" method="POST" class="flex flex-col p-4">
            {{form}}
            <input type="submit" name="regex_submit" class="rounded-full bg-gray-700 py-2 text-white hover:bg-gray-600">
        </form>
        <div class="bg-gray-300 h-20 mt-10 p-4 border border-gray-700 flex items-center justify-center">
            <p class="text-xl"></p>
        </div>
    </main>
</body>
</html>